<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="patch" th:action="@{/tasks/{id}(id=${task.getId()})}" th:object="${task}">
    <label for="description">Enter description:</label>
    <input type="text" th:field="*{description}" id="description"/>
    <!--<div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error  </div>-->

    <br>
    <label for="status">Enter status:</label>
    <input type="text" th:field="*{status}" id="status"/>
    <!--<div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error  </div>-->


    <br>
    <input type="submit" value="Update!"/>

</form>

</body>
</html>